.details {
    display: inline-block;
    width: 150px;
    margin-left: 50px;
    vertical-align: top;
}
.details img {
    max-width: 150px;
    max-height: 150px;
}
.details-item {
    border: 1px solid;
}