.red-content {
    color: red;
    margin: 30px;
    font-size: large;
}

.green-content {
    color: green;
    margin: 30px;
    font-size: large;
}

.blue-content {
    color: blue;
    margin: 30px;
    font-size: large;
}

.orange-content {
    color: orange;
    margin: 30px;
    font-size: large;
}

