.list {
 display: inline-block;   
 vertical-align: top;
}

.list-item {
    border: 1px solid gray;
    width: 150px;
    padding: 3px;
}

.list-item:hover {
    border: 1px solid blue;
    cursor: pointer;
}
